<%= form_with(model: @task, local: true ,url: choose_new_or_edit_task ) do |form| %>

<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= @task.errors.count %>件のエラーがあります。</h2>
    <ul>

    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="task_title">
    <%= form.label :案件名 %>
    <%= form.text_field :task_name %>
  </div>
  <div class="task_title">
    <%= form.label :作業日 %>
    <%= form.number_field :task_day %>
  </div>
  <div class="task_title">
    <%= form.label :請求年 %>
    <%= form.number_field :task_payment_year %>
  </div>
  <div class="task_title">
    <%= form.label :請求月 %>
    <%= form.number_field :task_payment_month %>
  </div>
  <div class="task_title">
    <%= form.label :案件請求金額 %>
    <%= form.number_field :task_payment %>
  </div>
  <div class="task_title">
    <%= form.label :案件メモ %>
    <%= form.text_field :task_content %>
  </div>
  
  
  <%= form.submit %>
<% end %>