<h3>以下の内容で、登録する。</h3>

<%= form_with(model: @task, url: tasks_path, local: true) do |form| %>
  <%= form.hidden_field :task_name %>
  <%= form.hidden_field :task_day %>
  <%= form.hidden_field :task_payment_year %>
  <%= form.hidden_field :task_payment_month %>
  <%= form.hidden_field :task_payment %>
  <%= form.hidden_field :task_content %>
<table class="table table-bordered">
  <tr><td>案件名</td><td><%= @task.task_name %></td></tr>
  <tr><td>作業日</td><td><%= @task.task_day %></td></tr>
  <tr><td>請求年</td><td><%= @task.task_payment_year %></td></tr>
  <tr><td>請求月</td><td><%= @task.task_payment_month %></td></tr>
  <tr><td>案件請求金額</td><td><%= @task.task_payment %></td></tr>
  <tr><td>案件メモ</td><td><%= @task.task_content %></td></tr>
</table>
  <button type="f.submit" class="btn btn-default btn-sm">登録</button><br>
<% end %>
<br>
<%= form_with(model: @task, url: new_task_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :task_name %>
  <%= form.hidden_field :task_day %>
  <%= form.hidden_field :task_payment_year %>
  <%= form.hidden_field :task_payment_month %>
  <%= form.hidden_field :task_payment %>
  <%= form.hidden_field :task_content %>
  <button type="submit" name='back' class="btn btn-default btn-sm">もどる</button>
<% end %>