
<%= form_with(model: @client, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= @client.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<div class="row">
  
  <div class="col-xs-12 col-md-12">
  <div class="client_title">
    <%= form.label :クライアント名 %><br>
    <%= form.text_field :client_name %></div>
  </div>
  
  <div class="col-xs-12 col-md-12">
  <div class="client_title">
    <%= form.label :クライアントメモ %><br>
    <%= form.text_field :client_content %></div>
  </div>

  <div class="col-xs-12 col-md-12"><br>
  <button type="f.submit" class="btn btn-default btn-sm">登録</button></div>
</div></div>
<% end %>