<h2>以下の内容で、登録する。</h2>

<%= form_with(model: @client, url: clients_path, local: true) do |form| %>
  <%= form.hidden_field :client_name %>
  <%= form.hidden_field :client_content %>
  
  <table class="table table-bordered">
  <tr><td>クライアント名</td><td><%= @client.client_name %></td></tr>
  <tr><td>クライアントメモ</td><td><%= @client.client_content %></td></tr>
  </table>
  <button type="f.submit" class="btn btn-default btn-sm">登録</button><br>
<% end %>
<br>
<%= form_with(model: @client, url: new_client_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :client_name %>
  <%= form.hidden_field :client_content %>
  <button type="submit" name='back' class="btn btn-default btn-sm">もどる</button>
<% end %>
