

<h1>クライアント一覧</h1>

<%= search_form_for @search do |f| %>
  <div class="form-group">
    <%= f.label :client_name_cont, "クライアント名：検索" %>
    <%= f.text_field :client_name_cont %>

    <%= f.label :client_content_cont, "クライアントメモ：検索" %>
    <%= f.text_field :client_content_cont %>
  </div>
  <button type="f.submit" class="btn btn-default btn-sm">検索</button></div>

<% end %>




    <table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
     <tr>
      <th><%= sort_link(@search, :client_name, "クライアント名") %></th>
      <th><%= sort_link(@search, :client_content, "クライアントメモ") %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

  　<tbody>
　　<% @clients.each do |client| %>
      <tr>
        <td><%= client.client_name %></td>
        <td><%= client.client_content %></td>
        
        <td><button class="btn btn-default">
          <%= link_to '案件詳細', client_path(client.id) %>
        </button></td>
        
        <td><button class="btn btn-default">
          <%= link_to "クライアント編集", edit_client_path(client.id), data: { confirm: '本当に編集していいですか？' } %>
        </button></td>
        
        <td><button class="btn btn-default">
          <%= link_to 'クライアント削除', client_path(client.id), method: :delete, data: { confirm: '本当に削除していいですか？　※紐づいている案件もすべて削除されます！' } %>
        </button></td>
        
      </tr>
　　<% end %>
　　</tbody>
</table>

