<!DOCTYPE html>
<html>
  <head>
    <title>ClientAppli02</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <p>
          <% if logged_in? %>
            <button class="btn btn-default">
              <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
            </button>
          <% else %>
            <button class="btn btn-default">
              <%= link_to "ログイン", new_session_path %>
            </button>
            <button class="btn btn-default">
              <%= link_to "新規ユーザー登録", new_user_path %>
            </button>
          <% end %>
            <button class="btn btn-default">
              <%= link_to "クライアント一覧", clients_path %>
            </button>
                <%= notice %></p>
  </header>
  
  <div class="content">

    <%= yield %></div>
  </body>
</html>
